[Desktop Entry]
Type=Application
Name=Duke Nukem 3D
Comment=Duke Nukem 3D
Icon=duke-nukem-3d
Exec=dosbox
Terminal=false
Categories=Game;Emulator;
Keywords=DOS Emulator;
